* {
    margin: 0;
    padding: 0;
    outline: none;
}

:root {
    --background: linear-gradient(151deg, #8E2DE2 0%, #4A00E0 100%);
    --head-txt-color: rgba(255, 255, 255, 0.50);
    --white-color: #fff;
}

.container {
    margin: 0 auto;
    width: 768px;
    height: 1024px;
    background: var(--background);
}

h1 {
    color: var(--head-txt-color);
    font-family: 'Inter-light';
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
}

h2 {
    color: var(--head-txt-color);
    font-family: 'Inter-regular';
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
}

span {
    color: var(--white-color);
    font-family: 'Inter-bold';
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
}

p {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter-regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.change_city {
    color: var(--head-txt-color);
    font-family: 'Inter-light';
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    margin-top: 36px;
    line-height: 28px;
    text-decoration-line: underline;
}

.weather-content {
    margin-top: 300px;
    margin-bottom: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.div-find {
    display: flex;
    flex-direction: column;
    width: 326px;
    margin: 0 auto;
    margin-top: 340px;
    margin-bottom: 305px;
}

.field-find {
    width: 326px;
    height: 45px;
    background: none;
    border: none;
    font-size: 20px;
    font-family: 'Inter-regular';
    text-align: center;
    color: var(--white-color);
    padding-bottom: 6px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.75);
}


.field-find::placeholder {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Inter-regular';
    color: var(--head-txt-color);
}

.btn-find {
    margin: 0 auto;
    width: 140px;
    height: 48px;
    border-radius: 8px;
    background: var(--white-color);
    border: none;
    color: #4C01E0;
    font-family: 'Inter-regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-top: 35px;
}

.head-txt, .footer-txt {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

